* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
}

.header {
  height: 650px;
  width: 100%;
  background-color: #0c325a;
}

.imgbackground {
  width: 100%;
  height: 90.8%;
  background-size: 65%;
  background-repeat: no-repeat;
  background-image: url(../img/background-header.png);
  background-position: bottom 5px right 0px;

}

.navbar {
  height: 65px;
  width: 100%;
  padding: 0 10%;
}

.imglogo {
  padding-top: 15px;
  padding-right: 3%;
}

.listanav {
  display: inline-block;
  line-height: normal;
  vertical-align: middle;
}

ul > li {
  display: inline-block;
  list-style-type: none;
  padding-right: 50px;
}

li > a,.tutor {
  text-decoration: none;
  color: white;
}

.tutor {
  padding: 0 3%;
}

.login {
  background-color: #0c325a;
  border: 1px solid white;
  color: white;
  padding: 13px 28px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 5px;
}

.secbutton {
background-color: #7cbb02;
 border: none;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 16px;
 margin: 4px 2px;
 border-radius: 5px;
}

.testoimgbg {
  color: white;
  margin-left: 10%;
  padding-top: 200px;
  font-size: 25px;
}

.strutpiano {
 background-color: #7cbb02;
 border: none;
 color: white;
 padding: 30px 32px;
 text-align: center;
 text-decoration: none;
 display: inline-block;
 font-size: 20px;
 margin: 2% 10%;
 border-radius: 5px;
}

.rigatitolo {
  width: 100%;
  height: 150px;
  background-color: #d3d3d3;
  text-align: center;
}

.testorigatitolo {
  padding-top: 36px;
}

.testogrande {
  font-size: 30px;
  font-weight: bold;
}

.testopiccolo {
  font-size: 20px;
  color: #808080;
  padding-top: 10px;
}

.row {
  width: 80%;
  margin: auto;
  height: auto;
  margin-bottom: 30px;
  margin-top: 30px;
}

.row,.secondarow::after{
  content: "";
  display: table;
  clear: both;
}

.colonna {
  float: left;
  width: 30%;
  height: 450px;
  text-align: center;
  padding: 0 5%;
}

.imgcolonna {
  margin-bottom: 15px;
  height: 170px;
  overflow: hidden;
  width: 100%;
}

.line-modify {
  width: 60px;
  border-color: lightgray;
  margin: 25px auto;
}

img + h2 {
  color: #7cbb02;
}

hr {
  border-color: lightgray;
}

.seconda {
  margin: 0 5%;
}

.secondarow {
  width: 80%;
  margin: auto;
  height: 500px;
  margin-top: 30px;
}

.cippo {
    float: left;
    width: 45%;
    margin: auto;
}

.imgmontagna {
  height: 450px;
}

.sinistra {
  height: 450px;
  padding: 0 5%;
}

.destra {
  margin-left: 10%;
  width: 40%;
  padding: 40px;
}

.testodestra {
  margin-top:10px;
  margin-bottom: 20px;
  width: 70%;
}

.testodestra p {
  margin-top: 20px;
}

.testodestra a {
  font-weight: bold;
}

footer {
  height: 100px;
  width: 100%;
  background-color: grey;
}
